body {
    background-image: url("cloud.avif");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    height : 100vh;
}

.dark-mode {
    background-color: rgb(65, 51, 94);
}
h1{
    color:rgb(16, 8, 78);
}
.main{
    background: rgba(0, 0, 0, 0.6);
    
    max-width:600px;
    min-height: 500px;
    margin:auto;
    text-align:center;
    margin-top: 50px;
    border:1px solid rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    

    

}
#dark{
    background-color: #cad0b0;
    border-radius:40px;
}

#input{
    margin-top:30px;
    width:50%;
    height:23px;
    background-color:white;
    border: none;
    border-radius:5px;
}
#find{
    width:10%;
    background-color: #0a0a09;
    border: none;
    border-radius: 5px;
    font-size:18px;
    margin-left: 5px;
    color:rgba(19, 119, 172, 0.847);
}
#card{
    
    display:none;
   width:300px;
    margin:auto;
    margin-top: 10px;
    text-align:center;
    padding:20px;
    border-radius:20px;
    color:white;
    font-size: 20px;
    box-shadow:0 0 15px rgba(0,0,0,.4);
}
#error{
    display:none;
    border: solid black;
    margin:auto;
    margin-top:10px;
    background-color:rgb(67, 69, 62) ;
    color:red;
}
#favorites{
    margin:auto;
    margin-top:10px;
    border:1px solid gray;
    border-radius:10px;
    width:60%;
    background-color:gray;
}
#spin {
    width:40px;
    height:40px;
    border:5px solid lightgray;
    border-top:5px solid rgb(40, 40, 69);
    border-radius:50%;
    margin:auto;
    margin-top:10px;
    animation: spinner 1s linear infinite;
    display:none;
}

@keyframes spinner{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
.remove{
    background-color:  #4c5136;
}
#fav{
    width:60%;
    margin:auto;
    margin-top:5px;
    background-color: rgb(144, 165, 106);
    border:1px solid rgb(144, 165, 106);
    border-radius: 10px;
}
.button{
    
    color:white;
    border:none;
    padding:8px 16px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.button:hover{
    background:#dd4949;
}